{%- liquid
  assign file_extension = 'png'
  assign chip_options = settings.chip_options | downcase | split: ', '
  assign swatch_options = settings.swatch_options | downcase | split: ', '
  assign max_items = 4
  assign desktop_max_items = 4
  assign desktop_swatch_max_items = 4

  if product_columns == 3
    assign desktop_max_items = 3
  elsif product_columns == 4
    assign desktop_max_items = 2
    assign desktop_swatch_max_items = 3
  endif
-%}

{%- unless product.has_only_default_variant -%}
  <div class="product-item-options product-item-options--product-columns-{{ product_columns }}">
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign option_name = option.name | downcase
        assign overflow_amount = option.values.size | minus: max_items
        assign overflow_amount_desktop = option.values.size | minus: desktop_max_items
        assign overflow_swatch_amount_desktop = option.values.size | minus: desktop_swatch_max_items
        assign option_includes_chips_or_swatches = false
        if swatch_options contains option_name or chip_options contains option_name
          assign option_includes_chips_or_swatches = true
        endif
      -%}

      {%- if option_includes_chips_or_swatches -%}
        <ul
          class="product-item-options__list{% if swatch_options contains option_name %} product-item-options__list--swatch{% endif %} ff-body fs-body-x-small"
          style="
            {% if overflow_amount > 0 %}
              --overflow-amount: '&#43;{{ overflow_amount }}';
            {% endif %}
            {% if overflow_amount_desktop > 0 %}
              --overflow-amount-desktop: '&#43;{{ overflow_amount_desktop }}';
            {% endif %}
            {% if overflow_swatch_amount_desktop > 0 %}
              --overflow-amount-swatch-desktop: '&#43;{{ overflow_swatch_amount_desktop }}';
            {% endif %}
          "
        >
          {%- for value in option.values -%}
            <!-- Handle swatches -->
            {%- if swatch_options contains option_name -%}
              <li
                class="product-item-options__item product-item-options__item--swatch"
                style="background-color: {{ value | lowercase | replace: ' ', '' }}; background-image: url({{ value | handle | append: '.' | append: file_extension | file_url }})"
              ></li>
              <!-- Handle chips -->
            {%- else -%}
              <li class="product-item-options__item product-item-options__item--chip">{{ value }}</li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endunless -%}
