<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    <title>
      {{ shop.name }}
      &ndash;
      {{ 'general.password_page.opening_soon' | t }}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'theme-setup' %}
    {% render 'theme-setting-vars' %}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {% render 'social-meta-tags' %}

    {% include 'globo.filter.script' %}
    {{ content_for_header }}

    {% render 'modal' %}
    {% render 'store-availability-drawer' %}
  </head>

  <body class="template-password">
    {{ content_for_layout }}

    <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
    {% include 'globo.filter.action' %}
  </body>
</html>
