{% liquid
  assign rows = section.blocks.size
  assign reverse = section.settings.alt_direction
%}
<div class="section__inner">
  <div
    data-section-id="{{ section.id }}"
    data-section-type="feature-tiles"
    data-product-id="{{ product.id }}"
    class="
      feature-tiles
      section
      {%if reverse %}alt-direction{%endif%}
    "
    style="--tile-max-height: {{ section.settings.tile_max_height }}vh;"
  >
    {%
      render 'section-header',
      heading: section.settings.heading,
      subheading: section.settings.subheading,
      url: section.settings.url,
      link_text: section.settings.link_text,
      classes: 'section-header--large section-header--center',
    %}

    <div class="feature-tiles__container rows-{{rows}}">
      {% assign tile_count = 0 %}
      {%- for block in section.blocks -%}
        {% liquid
          assign tile_count = tile_count | plus: 1

          if reverse and forloop.index != 2
            assign order = tile_count | plus: 1
          elsif reverse != true and forloop.index == 2
            assign order = tile_count | plus: 1
          else
            assign order = tile_count
          endif

          if block.type == 'product_tiles'
            unless template == 'product'
              assign product = block.settings.product
            endunless

            assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
          else
            assign featured_media = block.settings.image
          endif
        %}
        <div class="feature-tiles__tile image-tile o-{{order}} tile-{{tile_count}} {%if block.type == 'product_tiles'%}product-tile{%endif%}">
          <div class="image-tile__image-wrapper">
            {%
              render 'image' with
              image: featured_media
            %}
          </div>
        </div>

        {% liquid
          assign tile_count = tile_count | plus: 1

          if reverse and forloop.index != 2
            assign order = tile_count | minus: 1
          elsif reverse != true and forloop.index == 2
            assign order = tile_count | minus: 1
          else
            assign order = tile_count
          endif
        %}
        <div class="feature-tiles__tile content-tile o-{{order}} tile-{{tile_count}} {%if block.type == 'product_tiles'%}product-tile{%endif%} flex-v-center flex-h-center">
          {% if block.type == 'text_tiles' %}
            {% if block.settings.title != blank %}
              <h3 class="content-tile__title ff-heading fs-heading-1-base-ns">{{ block.settings.title }}</h3>
            {% endif %}
            {% if block.settings.content != blank -%}
              <span class="content-tile__text">{{ block.settings.content }}</span>
            {%- endif %}

          {% elsif block.type == 'review_tiles' %}
            {% assign review_count = 0 %}
            <div
              class="content-tile__reviews-container"
              data-autoplay="{{block.settings.autoplay_duration | times: 1000}}"
              data-columns="1"
            >
              {% if block.settings.review_text1 %}
                {% assign review_count = review_count | plus: 1 %}
                <figure class="content-tile__reviews-item">
                  <blockquote>"{{ block.settings.review_text1 }}"</blockquote>
                  <figcaption>{{ block.settings.review_author1 }}</figcaption>
                </figure>
              {% endif %}
              {% if block.settings.review_text2 %}
                {% assign review_count = review_count | plus: 1 %}
                <figure class="content-tile__reviews-item">
                  <blockquote>"{{ block.settings.review_text2 }}"</blockquote>
                  <figcaption>{{ block.settings.review_author2 }}</figcaption>
                </figure>
              {% endif %}
              {% if block.settings.review_text3 %}
                {% assign review_count = review_count | plus: 1 %}
                <figure class="content-tile__reviews-item">
                  <blockquote>"{{ block.settings.review_text3 }}"</blockquote>
                  <figcaption>{{ block.settings.review_author3 }}</figcaption>
                </figure>
              {% endif %}
            </div>

            <div class="content-tile__reviews-nav-container flex-h-center flex-v-center">
              {%- for dot in (1..review_count) -%}
                <div class="nav-dot {%if forloop.first%}filled{%endif%}"></div>
              {%- endfor -%}
            </div>

          {% elsif block.type == 'product_tiles' %}
            {% unless template == 'product' %}
              {% assign product = block.settings.product %}
            {% endunless %}

            {% assign current_variant = product.selected_or_first_available_variant %}
            {% if block.settings.title != blank %}
              <h3 class="content-tile__title product-pre-title ff-heading">{{ block.settings.title }}</h3>
            {% endif %}
            <h2 class="content-tile__title product-title ff-heading fs-heading-1-base-ns">{{ product.title }}</h2>

            <span class="content-tile__product-price-wrapper flex-v-center">
              <s class="content-tile__product-sale-price" data-compare-price>
                {%- if current_variant.compare_at_price > current_variant.price -%}
                  {{ current_variant.compare_at_price | money }}
                {%- endif -%}
              </s>
              <span class="content-tile__product-price content-tile__title fs-heading-4-base" data-price>
                {{- current_variant.price | money -}}
              </span>
            </span>

            {% render 'unit-price', item: current_variant %}

            {%
              render 'product-form' with
              product: product,
              current_variant: current_variant
            %}
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Feature Tiles",
  "tag": "section",
  "class": "shopify-section--stackable",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "HEADLINE"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "BOLD STATEMENT"
    },
    {
      "id": "alt_direction",
      "type": "checkbox",
      "label": "Alternate Direction",
      "default": false
    },
    {
      "type": "url",
      "id": "url",
      "label": "Url"
    },
    {
      "id": "tile_max_height",
      "type": "range",
      "label": "Maximum Tile Height",
      "min": 20,
      "max": 80,
      "step": 2,
      "default": 50
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "text_tiles",
      "name": "Text Tiles",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Content text highlighting the feature.</p>"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Tile Image"
        }
      ]
    },
    {
      "type": "review_tiles",
      "name": "Review Tiles",
      "settings": [
        {
          "id": "autoplay_duration",
          "type": "range",
          "label": "Autoplay Duration",
          "unit": "s",
          "min": 2,
          "max": 10,
          "step": 1,
          "default": 4
        },
        {
          "id": "review_text1",
          "type": "text",
          "label": "Review Text 1",
          "default": "Short review to show how people are satisfied with your product"
        },
        {
          "id": "review_author1",
          "type": "text",
          "label": "Review Author 1",
          "default": "BELLA WASTON - NEW YORK"
        },
        {
          "id": "review_text2",
          "type": "text",
          "label": "Review Text 2",
          "default": "Short review to show how people are satisfied with your product"
        },
        {
          "id": "review_author2",
          "type": "text",
          "label": "Review Author 2",
          "default": "BELLA WASTON - NEW YORK"
        },
        {
          "id": "review_text3",
          "type": "text",
          "label": "Review Text 3",
          "default": "Short review to show how people are satisfied with your product"
        },
        {
          "id": "review_author3",
          "type": "text",
          "label": "Review Author 3",
          "default": "BELLA WASTON - NEW YORK"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Tile Image"
        }
      ]
    },
    {
      "type": "product_tiles",
      "name": "Product Tiles",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product",
          "info": "Leave empty on Product Page"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Product Tile Image",
          "info": "OPTIONAL: Select custom product image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Tiles",
      "blocks": [
        {
          "type": "text_tiles"
        },
        {
          "type": "text_tiles"
        }
      ]
    }
  ]
}
{% endschema %}
