{%- liquid
  assign image_is_constrained = true

  if section.settings.aspect_ratio == 'natural'
    assign image_is_constrained = false
  endif
-%}

<div class="section__inner">
  <div
    data-section-id="{{ section.id }}"
    data-section-type="image-with-features"
    class="
      image-with-features
      image-with-features--text-{{ section.settings.text_position }}
      image-with-features--align-{{ section.settings.text_alignment }}
      image-with-features--{{ section.settings.aspect_ratio }}
      image-with-features--image-{{ section.settings.image_width }}
      section
      {% if section.settings.section_contrast -%}
        section--contrast
      {%- endif %}
    "
  >
    <div class="image-with-features__inner">
      <div class="image-with-features__image-container">
        {%- if section.settings.image -%}
          <div class="image-with-features__image-wrapper">
            {%
              render 'image' with
              image: section.settings.image,
              wrapper_class: 'image-with-features__image',
              disable_style: image_is_constrained,
            %}
          </div>
        {%- else -%}
          <div class="image-with-features__image-wrapper">
            <div class="image-with-features__image placeholder-image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        {%- endif -%}
      </div>

      <div class="image-with-features__text-container">
        {%- for block in section.blocks -%}
          {%- if block.type == 'heading' -%}
            <h2
              class="image-with-features__heading ff-heading fs-heading-2-base fs-heading-1-base-ns"
              style="--text-max-width: {{ block.settings.text_max_width }}rem"
            >
              {{ block.settings.title | newline_to_br }}
            </h2>
          {%- else -%}
            {%
              render 'image-with-features-item' with
              image: block.settings.image,
              image_shape: block.settings.image_shape,
              text_max_width: block.settings.text_max_width,
              heading: block.settings.heading,
              subheading: block.settings.subheading,
            %}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image_with_features.name",
  "tag": "section",
  "class": "shopify-section--stackable shopify-section--image-first",
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "t:sections.image_with_features.settings.image.label"
    },
    {
      "id": "image_width",
      "type": "select",
      "label": "t:sections.image_with_features.settings.image_width.label",
      "options": [
        { "label": "t:sections.image_with_features.settings.image_width.options__1", "value": "half" },
        { "label": "t:sections.image_with_features.settings.image_width.options__2", "value": "two-thirds" }
      ],
      "default": "half"
    },
    {
      "id": "aspect_ratio",
      "type": "select",
      "label": "t:sections.image_with_features.settings.aspect_ratio.label",
      "options": [
        { "label": "t:sections.image_with_features.settings.aspect_ratio.options__1", "value": "natural" },
        { "label": "t:sections.image_with_features.settings.aspect_ratio.options__2", "value": "square" },
        { "label": "t:sections.image_with_features.settings.aspect_ratio.options__3", "value": "landscape" },
        { "label": "t:sections.image_with_features.settings.aspect_ratio.options__4", "value": "portrait" }
      ],
      "default": "natural"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "t:sections.image_with_features.settings.text_position.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image_with_features.settings.text_position.options__1"
        },
        {
          "value": "right",
          "label": "t:sections.image_with_features.settings.text_position.options__2"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.image_with_features.settings.text_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image_with_features.settings.text_alignment.options__1"
        },
        {
          "value": "center",
          "label": "t:sections.image_with_features.settings.text_alignment.options__2"
        },
        {
          "value": "right",
          "label": "t:sections.image_with_features.settings.text_alignment.options__3"
        }
      ]
    },
    {
      "id": "section_contrast",
      "type": "checkbox",
      "label": "t:sections.image_with_features.settings.section_contrast.label",
      "default": false
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image_with_features.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.image_with_features.blocks.heading.settings.heading.label",
          "default": "Images with Features"
        },
        {
          "type": "range",
          "id": "text_max_width",
          "label": "t:sections.image_with_features.blocks.heading.settings.text_max_width.label",
          "min": 18,
          "max": 48,
          "step": 1,
          "default": 32
        }
      ]
    },
    {
      "type": "feature",
      "name": "t:sections.image_with_features.blocks.feature.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.image_with_features.blocks.feature.settings.image.label",
          "info": "t:sections.image_with_features.blocks.feature.settings.image.info"
        },
        {
          "id": "image_shape",
          "type": "radio",
          "label": "t:sections.image_with_features.blocks.feature.settings.image_shape.label",
          "default": "round",
          "options": [
            {
              "value": "round",
              "label": "t:sections.image_with_features.blocks.feature.settings.image_shape.options__1"
            },
            {
              "value": "square",
              "label": "t:sections.image_with_features.blocks.feature.settings.image_shape.options__2"
            }
          ]
        },
        {
          "id": "heading",
          "type": "text",
          "label": "t:sections.image_with_features.blocks.feature.settings.heading.label",
          "default": "Example heading"
        },
        {
          "id": "subheading",
          "type": "richtext",
          "label": "t:sections.image_with_features.blocks.feature.settings.subheading.label",
          "default": "<p>Use these small paragraph blocks to feature various aspects about a product. You can add up to three of these blocks and each can have an image associated with them.</p>"
        },
        {
          "type": "range",
          "id": "text_max_width",
          "label": "t:sections.image_with_features.blocks.feature.settings.text_max_width.label",
          "min": 18,
          "max": 48,
          "step": 1,
          "default": 32
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_features.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        }
      ]
    }
  ]
}
{% endschema %}
