<div
  class="password welcome"
  data-section-id="{{ section.id }}"
  data-section-type="password"
>
  <button
    type="button"
    class="password__login-button slider-button"
    data-js-toggle
    aria-label="{{ 'general.password_page.toggle_label' | t }}"
  >
    {% render 'icon-button' with icon: 'lock', class: 'lock' %}
    {% render 'icon-button' with icon: 'close', class: 'close' %}
  </button>

  <div class="password__content" data-content="default">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <header class="password__header" role="banner">
            {%- unless block.settings.heading == blank -%}
              <h1 class="password__heading ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">
                {{ block.settings.heading }}
              </h1>
            {%- endunless -%}

            {%- unless block.settings.text == blank -%}
              <div class="password__text fs-body-base fs-body-large-ns">
                {{ block.settings.text }}
              </div>
            {%- endunless -%}
          </header>

        {%- when 'branding' -%}
          <div
            class="password__logo"
            {% if block.settings.logo %}
              style="--width-max-logo: {{ block.settings.logo_max_width }}px;"
            {% endif %}
          >
            {%- if block.settings.logo -%}
              {%- render 'image' with image: block.settings.logo -%}
            {%- else -%}
              <p>{{ shop.name }}</p>
            {%- endif -%}
          </div>

        {%- when 'newsletter_signup' -%}
          {% form 'customer', class: 'password__signup' %}
            {% if form.posted_successfully? %}
              <div class="password__success fs-body-base">
                {{ 'general.password_page.signup_form_success' | t }}
              </div>
            {% else %}
              {{ form.errors | default_errors }}
              <div class="password__notify-form">
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <label for="Email" class="visually-hidden">
                  {{- 'general.password_page.signup_form_email_placeholder' | t -}}
                </label>
                <input
                  type="email"
                  name="contact[email]"
                  class="input input--round"
                  id="Email"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                >
                <button class="btn btn--primary btn--form" type="submit">
                  {{ 'general.password_page.signup_form_button_label' | t }}
                </button>
              </div>
            {% endif %}
          {% endform %}
      {%- endcase -%}
    {%- endfor -%}

    {% if shop.password_message != blank %}
      <p class="password__subheading fs-body-base fs-body-large-ns">{{ shop.password_message }}</p>
    {% endif %}

    <button type="button" class="btn btn--text-link" data-text-toggle>
      {{ 'general.password_page.password_link' | t }}
    </button>

    {%- if section.settings.show_share -%}
      <div class="password__share">
        <button
          type="button"
          class="password__share btn btn--secondary btn--medium-small"
          data-social-share
          aria-haspopup="true"
        >
          <span class="password__share-text fs-body-small fs-body-bold">
            {%- render 'icon' with icon: 'social-share' -%}
            {{ 'general.social.share' | t }}
          </span>

          <div
            class="password__share-icons"
            aria-hidden="true"
            aria-label="{{ 'general.social.alt_text.share_menu' | t }}"
          >
            <div class="share-icons">
              <a
                aria-label="{{ 'general.social.alt_text.share_on_pinterest' | t }}"
                href="//pinterest.com/pin/create/button/?url={{ shop.url | append: url }}&amp;media={{ page_image | img_url: '1024x1024' }}&amp;description={{ shop.name | url_param_escape }}"
              >
                {% render 'icon' with icon: 'pinterest' %}
              </a>
              <a
                aria-label="{{ 'general.social.alt_text.share_on_twitter' | t }}"
                href="//twitter.com/share?text={{ shop.name | url_param_escape }}&amp;url={{ shop.url }}"
              >
                {% render 'icon' with icon: 'twitter' %}
              </a>
              <a
                aria-label="{{ 'general.social.alt_text.share_on_facebook' | t }}"
                href="//www.facebook.com/sharer.php?u={{ shop.url }}"
              >
                {% render 'icon' with icon: 'facebook' %}
              </a>
            </div>
          </div>
        </button>
      </div>
    {%- endif -%}
  </div>

  <div class="password__content" data-content="login">
    <h3 class="password__login-heading ff-heading fs-heading-base c-heading">
      {{ 'general.password_page.login_form_heading' | t }}
    </h3>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}

      <div class="password__login-form">
        <label for="Password" class="visually-hidden">
          {{- 'general.password_page.login_form_password_placeholder' | t -}}
        </label>
        <input
          type="password"
          class="input input--round"
          name="password"
          id="Password"
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >
        <button class="btn btn--form btn--primary" type="submit">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
      </div>
    {% endform %}
    <p class="fs-body-base">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "tag": "section",
  "settings": [
    {
      "id": "show_share",
      "type": "checkbox",
      "label": "t:sections.main_password.settings.show_share.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "branding",
      "name": "t:sections.main_password.blocks.branding.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.main_password.blocks.branding.settings.logo.label"
        },
        {
          "id": "logo_max_width",
          "type": "range",
          "min": 50,
          "max": 350,
          "step": 10,
          "unit": "px",
          "label": "t:sections.main_password.blocks.branding.settings.logo_max_width.label",
          "default": 200
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.main_password.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "t:sections.main_password.blocks.heading.settings.heading.label",
          "default": "Opening Soon"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.main_password.blocks.heading.settings.text.label",
          "default": "<p>Find out when we open<p>"
        }
      ]
    },
    {
      "type": "newsletter_signup",
      "name": "t:sections.main_password.blocks.newsletter_signup.name",
      "limit": 1
    }
  ]
}
{% endschema %}
