{% paginate search.results by 10 %}
  <section
    class="search page"
    data-section-id="{{ section.id }}"
    data-section-type="search"
  >
    <div class="search__inner page__inner">
      <header class="page__header">
        {%- if search.performed -%}
          <h1 class="page__heading article__heading ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">
            {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
          </h1>
        {%- else -%}
          <h1 class="page__heading article__heading ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">
            {{ 'search.title' | t }}
          </h1>
        {%- endif -%}
      </header>

      <form action="{{ routes.search_url }}" class="search__form" method="get" role="search">
        <div class="search__input-wrapper">
          <label for="Search" class="visually-hidden">{{ 'search.placeholder' | t }}</label>
          <input
            data-search-input
            type="search"
            name="q"
            id="Search"
            class="search__input input"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'search.placeholder' | t }}"
            autocomplete="off"
          >
          <div class="search__input-actions">
            <button type="button" class="search__clear" aria-label="{{ 'search.clear_search' | t }}" data-clear-search>
              {% render 'icon' with icon: 'close-stroke' %}
            </button>
            <button type="submit" class="search__submit" aria-label="{{ 'search.search' | t }}">
              {% render 'icon' with icon: 'arrow-stroke' %}
            </button>
          </div>
        </div>
      </form>

      {%- if search.performed -%}
        {%- if search.results_count == 0 -%}
          <p class="search__no-results ff-body fs-body-base ta-c">{{ 'search.no_results' | t }}</p>

        {%- else -%}
          <h2 class="visually-hidden">{{ 'search.heading' | t: count: search.results_count }}</h2>
          <ul
            data-section-id="{% if section.id %}{{section.id}}{% endif %}"
            data-sectionId="{% if section.id %}{{section.id}}{% endif %}"
            {% if section.blocks %}
              data-blocks="{ {%- capture blocks_json -%}{% for block in section.blocks %}{%- capture block_json -%}"{{ block.type }}":{{ block.settings | json }}{%- endcapture -%}{{ block_json | prepend: ","  }}{% endfor %}{%- endcapture -%}{{ blocks_json | remove_first: "," }} }"
            {% endif %}
            data-settings="{% if section.settings %}{{section.settings | json}}{% endif %}"
            id="gf-products"
            class="search__results"
          >
            {%- for item in search.results -%}
              <script type="application/json" class="bold-product-json">
                {{ item | json }}
              </script>
              {%- assign image = false -%}
              {%- if item.object_type == 'article' -%}
                {%- assign image = item.image -%}
              {%- elsif item.object_type == 'product' -%}
                {%- assign image = item.featured_media.preview_image | default: item.featured_image -%}
              {%- endif -%}

              <li class="search__result">
                <a href="{{ item.url }}" class="search__result-item" aria-label="{{ item.title }}">
                  <div class="search__result-image">
                    {%- if image != blank -%}
                      {%- render 'image' with image: image, disable_style: true -%}
                    {%- else -%}
                      {%- render 'icon' with icon: 'alphabetical' -%}
                    {%- endif -%}
                  </div>

                  <div class="search__result-content">
                    <h3 class="search__result-heading ff-heading fs-heading-4-base">
                      {{ item.title }}
                    </h3>
                    {%- if item.object_type == 'product' -%}
                      <div class="ff-body fs-body-base">
                        {% if item.available == false %}
                          <span>{{ 'products.product.sold_out' | t }}</span>
                          <span class="search__result-sold-out-price">{{ item.price | money }}</span>
                        {%- elsif item.compare_at_price > item.price -%}
                          {%- if item.price_varies -%}
                            {%- assign sale_price = item.price | money -%}
                            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                          {%- else -%}
                            {{ 'products.product.on_sale' | t }}
                            <span>{{ item.price | money }}</span>
                          {%- endif -%}
                          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                          <s>{{ item.compare_at_price | money }}</s>
                        {%- else -%}
                          {%- if item.price_varies -%}
                            {%- assign price = item.price | money -%}
                            <span>{{ 'products.product.from_lowest_price_html' | t: lowest_price: price }}</span>
                          {%- else -%}
                            <span>{{ item.price | money }}</span>
                          {%- endif -%}
                        {%- endif -%}

                        {% assign selected_product = item.selected_or_first_available_variant %}

                        {% render 'unit-price', item: selected_product %}
                      </div>
                    {%- else -%}
                      <p class="ff-body fs-body-base measure">{{ item.content | strip_html | truncate: 120 }}</p>
                    {%- endif -%}
                  </div>
                </a>
              </li>
            {%- endfor -%}
          </ul>

          {%
            render 'pagination' with
            type: 'general.pagination.results',
            paginate: paginate
          %}
        {% endif %}
      {% endif %}
    </div>
  </section>
{% endpaginate %}
