<div
  data-section-id="{{ section.id }}"
  data-section-type="rich-text"
  class="rich-text section{% if section.settings.section_contrast %} section--contrast{% endif %}"
>
  <div class="section__inner rich-text__inner">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          {%- unless block.settings.title == blank -%}
            <h2
              class="rich-text__heading ff-heading fs-heading-2-base fs-heading-1-base-ns"
              style="--text-max-width: {{ block.settings.text_max_width }}rem;"
            >
              {{ block.settings.title | newline_to_br }}
            </h2>
          {%- endunless -%}

        {%- when 'text' -%}
          {%- unless block.settings.subheading == blank -%}
            <div
              class="rich-text__subheading rte ff-body fs-body-base fs-body-large-ns"
              style="--text-max-width: {{ block.settings.text_max_width }}rem;"
            >
              {{ block.settings.subheading }}
            </div>
          {%- endunless -%}

        {%- when 'button' -%}
          {%- if block.settings.link and block.settings.link_text -%}
            <div class="rich-text__button-wrapper">
              <a
                href="{{ block.settings.link }}"
                class="rich-text__button fs-body-base btn btn--primary btn--medium"
              >
                {{ block.settings.link_text }}
              </a>
            </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich_text.name",
  "tag": "section",
  "class": "shopify-section--stackable shopify-section--text-first",
  "settings": [
    {
      "id": "section_contrast",
      "type": "checkbox",
      "label": "t:sections.rich_text.settings.section_contrast.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich_text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.rich_text.blocks.heading.settings.title.label",
          "default": "Rich text"
        },
        {
          "type": "range",
          "id": "text_max_width",
          "label": "t:sections.rich_text.blocks.heading.settings.text_max_width.label",
          "min": 24,
          "max": 48,
          "step": 1,
          "default": 42
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich_text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "id": "subheading",
          "type": "richtext",
          "label": "t:sections.rich_text.blocks.text.settings.subheading.label",
          "default": "<p>Use this text area to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "range",
          "id": "text_max_width",
          "label": "t:sections.rich_text.blocks.text.settings.text_max_width.label",
          "min": 24,
          "max": 48,
          "step": 1,
          "default": 42
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich_text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "id": "link",
          "type": "url",
          "label": "t:sections.rich_text.blocks.button.settings.link.label"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "t:sections.rich_text.blocks.button.settings.link_text.label",
          "default": "Read more"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich_text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
